{% include "base.html.twig" %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('default') }}" role="button">Retour à l'acceuille</a>
    <h1>Lorem ipsum </h1>
{% endblock %}

{% include "footer.html.twig" %}