{% block body %}
    <footer id="general">
        <a href="/"><i class="fab fa-discord mr-2" style="font-size: 20px;"></i></a>
        <a href="/"><i class="fab fa-facebook mr-2" style="font-size: 20px;"></i></a>
        <a href="/"><i class="fab fa-twitter mr-2" style="font-size: 20px;"></i></a>
        <a href="#" id="news">Newsletter</h3>
    </footer>
{% endblock %}