{% include "base.html.twig" %}

<h1>Auteur</h1>
<h1>Date</h1>
<h1>Catégories</h1>

<br>

<img src="public/image/berserk_T1.jpg" class="img-fluid" alt="Berserk">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu dapibus tellus. Curabitur viverra mi vitae neque iaculis convallis. Sed.</p>