{% include "base.html.twig" %}

<a class="btn btn-primary" href="{{ path('default') }}" role="button">Retour à l'acceuille</a>

<h1>Contact</h1>

<form>

    <div class="form-group">
        <label for="lastName">Nom:</label>
        <input type="text" class="form-control" id="lastName" name="lastName">
    </div>

    <div class="form-group">
        <label for="firstName">Prénom:</label>
        <input type="text" class="form-control" id="firstName" name="firstName">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
        <label for="phone">Téléphone:</label>
        <input type="text" class="form-control" id="phone" name="phone">
    </div>

    <div class="form-group">
        <label for="text">Nom:</label>
        <textarea name="text" class="form-control" id="text" rows="5" cols="120"></textarea>
    </div>

    <button class="btn btn-primary">Envoie</button>

</form>