{% include "base.html.twig" %}

<!--h1>Auteur <span style="margin-left: 15px"> Date </span> <span style="margin-left: 1350px">Catégories </span></h1-->
<h1>

    Auteur

    <div class="ml-3">
    
        Date

    </div>

    <div class="mx-auto">
        Catégories
    </div>

</h1>

<br>

<img src="image/berserk_T1.jpg" class="img-fluid" alt="Berserk">

<br>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu dapibus tellus. Curabitur viverra mi vitae neque iaculis convallis. Sed.</p>

{% include "footer.html.twig" %}