{% extends 'base.html.twig' %}

{% include "user/nav.html.twig" %}
{% block body %}
    <div class="mt-3 text-center">
        <p>Vous avez aimer :</p>
        <br>
        <p>Vous avez partagés :</p>
        <br>
        <p>Les cinqs dernier articles que vous avez commentés :</p>
        {% for commentary in commentaries %}
            
            {% if commentary is empty %}
                <p>Pas de commentaire</p>
            {% endif %}
            
            <p>Nom de l'article: <strong>{{commentary.article.title}}</strong></p>
            <p>Votre commentaires: <em>{{commentary.message}}</em></p>
        {% endfor %}
    </div>
{% endblock %}