{% include 'base.html.twig' %}

<body style="background-color: rgb(60, 179, 113); color: white">
    {% block body %}
        {% include "user/nav.html.twig" %}
            
    {% endblock %}
</body>
