<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="{{path('user_index')}}" style="background-color: rgb(46, 139, 87); color: white">Accueille</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: rgb(46, 139, 87); color: white">Informations Personnelles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: rgb(46, 139, 87); color: white">Articles aimés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: rgb(46, 139, 87); color: white">Articles partagés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: rgb(46, 139, 87); color: white">Articles commentés</a>
    </li>
</ul>